In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("nba.csv")

In [3]:
df.head(10)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0

In [4]:
df.loc[:19,["Name","Team"]]

                       Name            Team
0             Avery Bradley  Boston Celtics
1               Jae Crowder  Boston Celtics
2              John Holland  Boston Celtics
3               R.J. Hunter  Boston Celtics
4             Jonas Jerebko  Boston Celtics
5              Amir Johnson  Boston Celtics
6             Jordan Mickey  Boston Celtics
7              Kelly Olynyk  Boston Celtics
8              Terry Rozier  Boston Celtics
9              Marcus Smart  Boston Celtics
10          Jared Sullinger  Boston Celtics
11            Isaiah Thomas  Boston Celtics
12              Evan Turner  Boston Celtics
13              James Young  Boston Celtics
14             Tyler Zeller  Boston Celtics
15         Bojan Bogdanovic   Brooklyn Nets
16             Markel Brown   Brooklyn Nets
17          Wayne Ellington   Brooklyn Nets
18  Rondae Hollis-Jefferson   Brooklyn Nets
19             Jarrett Jack   Brooklyn Nets

In [5]:
df1 = df.loc[df["Team"]== "Boston Celtics"]
print(df1)

               Name            Team  Number Position   Age Height  Weight  \
0     Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1       Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2      John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3       R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4     Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
5      Amir Johnson  Boston Celtics    90.0       PF  29.0    6-9   240.0
6     Jordan Mickey  Boston Celtics    55.0       PF  21.0    6-8   235.0
7      Kelly Olynyk  Boston Celtics    41.0        C  25.0    7-0   238.0
8      Terry Rozier  Boston Celtics    12.0       PG  22.0    6-2   190.0
9      Marcus Smart  Boston Celtics    36.0       PG  22.0    6-4   220.0
10  Jared Sullinger  Boston Celtics     7.0        C  24.0    6-9   260.0
11    Isaiah Thomas  Boston Celtics     4.0       PG  27.0    5-9   185.0
12      Evan Turner  Boston Celtics    11.0       SG  27.0    6-7   220.0
13      James Young  Boston Celtics    13.0       SG  20.0    6-6   215.0
14     Tyler Zeller  Boston Celtics    44.0        C  26.0    7-0   253.0

              College      Salary
0               Texas   7730337.0
1           Marquette   6796117.0
2   Boston University         NaN
3       Georgia State   1148640.0
4                 NaN   5000000.0
5                 NaN  12000000.0
6                 LSU   1170960.0
7             Gonzaga   2165160.0
8          Louisville   1824360.0
9      Oklahoma State   3431040.0
10         Ohio State   2569260.0
11         Washington   6912869.0
12         Ohio State   3425510.0
13           Kentucky   1749840.0
14     North Carolina   2616975.0

In [6]:
df1  = df.iloc[10:20]
print(df1)

                       Name            Team  Number Position   Age Height  \
10          Jared Sullinger  Boston Celtics     7.0        C  24.0    6-9
11            Isaiah Thomas  Boston Celtics     4.0       PG  27.0    5-9
12              Evan Turner  Boston Celtics    11.0       SG  27.0    6-7
13              James Young  Boston Celtics    13.0       SG  20.0    6-6
14             Tyler Zeller  Boston Celtics    44.0        C  26.0    7-0
15         Bojan Bogdanovic   Brooklyn Nets    44.0       SG  27.0    6-8
16             Markel Brown   Brooklyn Nets    22.0       SG  24.0    6-3
17          Wayne Ellington   Brooklyn Nets    21.0       SG  28.0    6-4
18  Rondae Hollis-Jefferson   Brooklyn Nets    24.0       SG  21.0    6-7
19             Jarrett Jack   Brooklyn Nets     2.0       PG  32.0    6-3

    Weight         College     Salary
10   260.0      Ohio State  2569260.0
11   185.0      Washington  6912869.0
12   220.0      Ohio State  3425510.0
13   215.0        Kentucky  1749840.0
14   253.0  North Carolina  2616975.0
15   216.0             NaN  3425510.0
16   190.0  Oklahoma State   845059.0
17   200.0  North Carolina  1500000.0
18   220.0         Arizona  1335480.0
19   200.0    Georgia Tech  6300000.0

In [7]:
df = df.drop(columns="College")

In [8]:
df["Experience"] = 2024 - df["Age"]
df

,Name,Team,Number,Position,Age,Height,Weight,Salary,Experience
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,7730337.0,1999.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,6796117.0,1999.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,NaN,1997.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,1148640.0,2002.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,5000000.0,1995.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,2433333.0,1998.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,900000.0,2000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,2900000.0,1998.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,947276.0,1998.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:

new_player = {
    "Name": "Bilal",
    "Team": "Boston Celtics",
    "Number": 21.0,
    "Position": "C",
    "Age": 22,
    "Height": "6-2",
    "Weight": 200.0,
    "Salary": 10000000,
    "Experience": 2002  
}

df.loc[len(df)] = new_player  
df

,Name,Team,Number,Position,Age,Height,Weight,Salary,Experience
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,7730337.0,1999.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,6796117.0,1999.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,NaN,1997.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,1148640.0,2002.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,5000000.0,1995.0
...,...,...,...,...,...,...,...,...,...
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,900000.0,2000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,2900000.0,1998.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,947276.0,1998.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
458,Bilal,Boston Celtics,21.0,C,22.0,6-2,200.0,10000000.0,2002.0

In [10]:
df.tail

<bound method NDFrame.tail of               Name            Team  Number Position   Age Height  Weight  \
0    Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1      Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2     John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3      R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4    Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
..             ...             ...     ...      ...   ...    ...     ...
454      Raul Neto       Utah Jazz    25.0       PG  24.0    6-1   179.0
455   Tibor Pleiss       Utah Jazz    21.0        C  26.0    7-3   256.0
456    Jeff Withey       Utah Jazz    24.0        C  26.0    7-0   231.0
457            NaN             NaN     NaN      NaN   NaN    NaN     NaN
458          Bilal  Boston Celtics    21.0        C  22.0    6-2   200.0

         Salary  Experience
0     7730337.0      1999.0
1     6796117.0      1999.0
2           NaN      1997.0
3     1148640.0      2002.0
4     5000000.0      1995.0
..          ...         ...
454    900000.0      2000.0
455   2900000.0      1998.0
456    947276.0      1998.0
457         NaN         NaN
458  10000000.0      2002.0

[459 rows x 9 columns]>

In [11]:
df = df[df["Name"] != "Avery Bradley"]

In [12]:
df

,Name,Team,Number,Position,Age,Height,Weight,Salary,Experience
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,6796117.0,1999.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,NaN,1997.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,1148640.0,2002.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,5000000.0,1995.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,12000000.0,1995.0
...,...,...,...,...,...,...,...,...,...
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,900000.0,2000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,2900000.0,1998.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,947276.0,1998.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
458,Bilal,Boston Celtics,21.0,C,22.0,6-2,200.0,10000000.0,2002.0

In [17]:


filtered_df = df[df["Salary"] <= 5000000]

print(filtered_df)

              Name            Team  Number Position   Age Height  Weight  \
3      R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4    Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
6    Jordan Mickey  Boston Celtics    55.0       PF  21.0    6-8   235.0
7     Kelly Olynyk  Boston Celtics    41.0        C  25.0    7-0   238.0
8     Terry Rozier  Boston Celtics    12.0       PG  22.0    6-2   190.0
..             ...             ...     ...      ...   ...    ...     ...
452     Trey Lyles       Utah Jazz    41.0       PF  20.0   6-10   234.0
453   Shelvin Mack       Utah Jazz     8.0       PG  26.0    6-3   203.0
454      Raul Neto       Utah Jazz    25.0       PG  24.0    6-1   179.0
455   Tibor Pleiss       Utah Jazz    21.0        C  26.0    7-3   256.0
456    Jeff Withey       Utah Jazz    24.0        C  26.0    7-0   231.0

        Salary  Experience
3    1148640.0      2002.0
4    5000000.0      1995.0
6    1170960.0      2003.0
7    2165160.0      1999.0
8    1824360.0      2002.0
..         ...         ...
452  2239800.0      2004.0
453  2433333.0      1998.0
454   900000.0      2000.0
455  2900000.0      1998.0
456   947276.0      1998.0

[302 rows x 9 columns]